<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/index.css">

    <title>Página inicial | OpaBox</title>
</head>
<body>
    <main>
        <header>
            <h1>OpaBox</h1>
            <h2>Avaliação FullStack Jr.</h2>
        </header>

        <footer>Developed by <strong>Allan Prado</strong></footer>
    </main>

    <aside>
        <div class="link1">
            <a href="ordenarLista">Acessar /ordenarLista</a>
        </div>

        <div class="link2">
            <a href="interlace">Acessar /interlace</a>
        </div>
    </aside>
</body>
</html>